.home_img{
    width: 5rem;
}

.text_part{    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: 2rem;
}
.img_part{    
    display: flex;
    flex-direction: column;
}
.home_conatiner{
    display: flex;
    align-items: center;
}
