
.img_part>img {    
    padding:1rem 2rem;
    width: 100%;   
}

.img_part{
   width: 30%; 
   height: 100%;
   align-items: center;
   /* background-image: url('../../IMG/research.PNG');
   background-size:     cover;                      
   background-repeat:   no-repeat;
   background-position: center center;   */
}



.text_partLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    font-size: 1.5rem;
    text-align: justify;
}

.text_partRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    font-size: 1.5rem;
    padding-right: 5rem;
    text-align: justify;
}


.p1 {
    font-size: 1.5rem;
}

.title {
    margin:  2rem auto 1rem auto ;
    font-size: 2.2rem;
    text-align: center;

}

.home_content{
    display: flex;
    align-items: center;

    padding-bottom: 2rem;
}

.home_conatiner{    
    padding: auto 2rem;
    margin:auto 4rem;
}


@media (max-width: 768px) {

    .home_content{
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .text_part {
        display: flex;
        text-align: center;
        font-size: 1.5rem;
    }

    .text_partRight {
        flex-direction: column;
        width: 100%;
        font-size: 1.2rem;
        padding: 0 1rem;
        
    }
    .text_partLeft {
        flex-direction: column;
        width: 100%;
        font-size: 1.2rem;
        padding: 0 1rem;
    }
    .tile{
        font-size: 2rem;
        font-weight: 500;
    }
    .img_part>img {    
        padding:1rem 0rem;
        width: 100%;   
    }
    
    .img_part{
       width: 80%; 
       align-items: center;
    }

    .home_conatiner{
        margin:auto 1.2rem;
    }
}
