.navBar {
    background-color: #212221;
}

.link {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
}

.brandText {
    text-decoration: none;
    color: aliceblue;
    font-size: 2.5rem;
}

.brandLogo {
    width: 5rem;
    margin-right: 1rem;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.poster {
    display: inline-flexbox;
}

.log_in {
    align-items: right;
    text-align: right;
}